node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

.env

coverage/
nyc_output/

tmp/
temp/

*.pm2/

.cache/
dist/
build/

public/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

sequelize-meta.json

*.bak
